<div class="form-inline">
    <fieldset>
        <legend>信息查询</legend>
        <label>文章或作者查询</label><input id="textbox_title" class="easyui-textbox" />
        <a href="#" id="btn_search" data-options="iconCls:'icon-search'" class="easyui-linkbutton">查询</a>
    </fieldset>
</div>
<div id="toolbar">
    <div>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="del()">删除</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="$('#article_list').datagrid('reload');">刷新</a>
    </div>
</div>
<table id="article_list"></table>
<script type="text/javascript">
    $("#article_list").datagrid({
        loadMsg: '加载中……',
        onLoadError: function () {
            alert('数据加载失败!');
        },
        fitColumns: true,
        url: '@Url.Action("JsonCommentList")',
        pageSize: 10,
        pageNumber: 1,
        pageList: [10, 15, 30],
        rownumbers: true,
        columns: [[
            { field: 'ID', title: 'ID', checkbox: true },
            { field: 'Name', title: '用户姓名' },
            { field: 'Comment', title: '回复内容' },
            {
                field: 'Article', title: '文章名', formatter: function (value,row,index) {
                    return '<a href="#" onclick="construction(\'' + value + '\')">查看</a>'
                }
            },
            { field: 'Reply', title: '回复姓名' },
            { field: 'RegDate', title: '发布时间' },
        ]],
        pagination: true,
        idField: "ID",
        toolbar: '#toolbar',
    });
    $('#article_list').datagrid('getPager').pagination({
        displayMsg: '当前显示从{from}-{to}共{total}记录'
    });

    function construction(aid)
    {
        window.location.href = "@Url.Action("CommentArticleList")?aid="+aid;
    }


    //删除角色
    function del() {
        var rows = $("#article_list").datagrid("getSelections");
        if (!rows || rows.length < 1) {
            $.messager.alert("提示", "未选择任何行!");
            return;
        } else if (rows.length > 0) {
            $.messager.confirm("确认", "您确定要删除所选行吗？", function (r) {
                if (r) {
                    $.messager.progress();
                    count = 0;
                    $.each(rows, function (index, value) {
                        $.post("@Url.Action("JsonMagazineDel")", { id: value.ID }, function () {
                            if (++count == rows.length) {
                                $.messager.progress('close');
                                rows.length = 0;
                                $("#article_list").datagrid('reload');
                            }
                        });
                    });
                }
            });
        }
    }

    $(function () {
        $("#btn_search").click(function () {
            $("#article_list").datagrid('load',
            {
                title: $("#textbox_title").val(),
            });
        });
    })
</script>

