<div title="数据整理">
    <ul id="navmenu" class="nav nav-pills nav-stacked">
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '用户数据整理', 'href': '@Url.Action("UserData")'"><span class="glyphicon glyphicon-th-list"> 用户数据整理</span></a></li>
    </ul>
</div>

