<div title="论坛管理">
    <ul id="navmenu" class="nav nav-pills nav-stacked">
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '论坛列表', 'href': '@Url.Action("ForumList")'"><span class="glyphicon glyphicon-th-list"> 论坛列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '分类列表', 'href': '@Url.Action("CategoryList")'"><span class="glyphicon glyphicon-th-list"> 分类列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '文章列表', 'href': '@Url.Action("ArticleList")'"><span class="glyphicon glyphicon-th-list"> 文章列表</span></a></li>
    </ul>
</div>


