@{
    ViewBag.Title = "媒体支持——中国电器工业协会工业锅炉分会";
}
@section Header{
    <div id="widtop04_common"></div>
    <div id="widtop05"></div>
}
<div class="widtop08"></div>
<div id="widcenter09">
    <div id="center09_01">
        <div class="center_bjiaoti"></div>
        <div class="center_zhuti">媒体支持</div>
        <div>
            <ul>
                <li class="meiti"><img src="/Content/images/forum/mt04.gif" width="225" height="37"></li>
                <li class="meiti"><img src="/Content/images/forum/mt05.gif" width="225" height="37"></li>
                <li class="meiti"><img src="/Content/images/forum/mt07.gif" width="225" height="37"></li>
            </ul>
        </div>
        <div class="bottom"></div>
    </div>
</div>

