@{
    ViewBag.Title = "主办协办——中国电器工业协会工业锅炉分会";
}
@section Header{
    <div id="widtop04_common"></div>
    <div id="widtop05"></div>
}
<div class="widtop08"></div>
<div id="widcenter09">
    <div id="center09_01">
        <div class="center_bjiaoti"></div>
        <div class="center_zhuti">主办单位</div>
        <div>
            <ul>
                <li><a href="http://www.cibb.net.cn/" target="_blank">中国电器工业协会工业锅炉分会</a></li>
                <li><a href="http://www.sibri.com.cn/" target="_blank">上海工业锅炉研究所</a></li>
                <li><a href="http://www.snec.sh.cn/" target="_blank">上海新能源科技成果转化与产业促进中心</a></li>
            </ul>
        </div>
        <div class="center_zhuti">协办单位</div>
        <div>
            <ul>
                <li><a href="http://oilon.com/main/zh/" target="_blank">奥林（中国）有限公司</a></li>
                <li><a href="http://www.ccri.com.cn/" target="_blank">煤炭科学技术研究院有限公司</a></li>
            </ul>
        </div>
        <div class="bottom"></div>
    </div>
</div>

