@{
    ViewBag.Title = "专题报告——中国电器工业协会工业锅炉分会";
}
@section Header{
    <div id="widtop04_common"></div>
    <div id="widtop05"></div>
}
<div class="widtop08"></div>
<div id="widcenter09">
    <div id="center09_01">
        <div class="center_bjiaoti"><img src="/Content/images/forum/zti.jpg" width="231" height="95"></div>
        @Html.Action("ReportListDetail", "Report", new { cid = 2 })
        <div class="bottom"></div>
    </div>
</div>